{% extends 'base.html' %}

{% block head %}
<title>Add an Event</title>
{% endblock %}

{% block body %}

<div>
    <form id="main" method="POST" action="/add">
        <input autofocus placeholder="Event name" name="name" type="text" required/>
        <input type="date" placeholder="Date" name="date">
        <input placeholder="Time" name="time" type="time"/>
        <input placeholder="Length" name="length" type="number" required/>
        <input placeholder="Location" name="location" type="text" required/>
        <input placeholder="Guests" name="guests" type="text"/>
    </form>
</div>

<div id="subform"></div>

<div>
    <input id="addsub" type="button" value="Add a sub event" onclick="add_sub_event()">
    <input type="button" value="Submit" onclick="submitForms()"/>
</div>


<br>
<br>
<br>

<button type="button" onclick="location.href='/events'"> See all events</button>
{% endblock %}