{% extends 'base.html' %} {% block head %}
<title>View All Events</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">View All Events</h1>
  {% if events|length < 1 %}
  <h4 style="text-align: center">There are no events. Create one below!</h4>
  {% else %}
  <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Location</th>
      <th>Guests</th>
      <th>Delete</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.event_date }}</td>
      <td>{{ event.event_time }}</td>
      <td>{{ event.length }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.guests }}</td>
      <td><a href="{{url_for('delete',id=event.id)}}"> Delete</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
<button type="button" onclick="location.href='/add'">Add an event</button>
{% endblock %}
